@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@mixin display-flex(
  $align-items,
  $display,
  $flex-direction,
  $justify-content ) {

  align-items: $align-items;
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

p,
i,
pre,
textarea,
input,
button {
  font-family: 'Lato', sans-serif;
}

#root {
  @include display-flex(stretch, flex, row, center);
  width: 100%;
}

.app {
  margin: 2% 0;
  width: 50rem;
}

.main-section {
  margin-top: 2%;
}